.top{
    display: inline-block;
}
.date{float: right;
color: grey;}
.title{float: left;
    }
.container{
width: 500px;
margin: auto;
background-color: white;
}
img{width: 500px;
}
body{
    background-color: lightgray;
}
.top, .third { 
background-color: white;
}